body {
    /* white: #f7f9f9;
    light-blue: #2081c3;
    dark-blue: #0a2c42;
    grey: #bfbfbf; */
    font-family: Arial, Helvetica, sans-serif;
}

nav {
    overflow: hidden;
    background-color: #2081c3;
}

nav a {
    float: left;
    color: #f7f9f9;
    text-align: center;
    padding: 1% 2%;
    text-decoration: none;
    font-size: 1rem;
}

nav a:hover {
    background-color: #f7f9f9;
    color: #000000;
}

nav a:active {
    background-color: #ffdf77;
    color: #0a2c42;
}

.img {
    width: 300px;
    display: block;
    margin: auto;
    padding: 5% 0%;
}

.myButton {
	box-shadow:inset 0px -3px 7px 0px #29bbff;
	background:linear-gradient(to bottom, #2082c3 5%, #0688fa 100%);
	background-color:#2082c3;
	border-radius:3px;
    border:1px solid #2082c3;
    /* display: inline-block; */
	cursor: pointer;
	color:#ffffff;
	font-family:Arial;
	font-size:15px;
	padding:9px;
	text-decoration:none;
    text-shadow:0px 1px 0px #3b508f;
    align-items: center;
}
.myButton:hover {
	background:linear-gradient(to bottom, #0688fa 5%, #2082c3 100%);
	background-color:#0688fa;
}
.myButton:active {
	/* position:relative; */
	top:1px;
}

.box-btn {
    display: block;
    align-items: center;
    padding-left: 45%;
}

.div-btn {
    display: flex;
    align-items: center;
    padding: 5px;
}


