<img class="img" src="/images/beer.png" alt="beer">

<div class="box-btn">
    {{!-- <div class="myButton">
        <a href="/beers.hbs" >Check the beers!</a>
    </div>
    <div class="myButton">
        <a href="/random-beers.hbs" >Check a random beer!</a>
    </div> --}}

</div>